<div class="center">
  <h1>Pizza Co.!</h1>
  <h2>A Braintree Marketplace Demo</h2> <hr/>

  <div>
    <h3>Order a Pizza for pickup ($10)</h3>
    <p>
      <%= link_to "Place Order", new_checkout_path, class: "btn-red top-pad" %>
    </p>
  </div>

  <div>
    <h3>Order a Pizza for Delivery ($13)</h3>
    <p><%= link_to "Place Delivery Order", new_delivery_path, class: "btn-red top-pad" %></p>
  </div>

  <div>
    <h3>Want a job delivering pizzas (who doesn't)?!</h3>
    <%= link_to "Apply to be a sub-merchant", new_submerchant_path, class: "btn-red top-pad" %>
  </div>
</div>
