body {
  background-color: #35dd8f
}

.center {
  text-align: center;
}

.middle {
  margin-left: 0 auto;
  margin-right: 0 auto;
}

.onboard-form {
  width: 80%;
  height: 50px;
  border-radius: 28px;
  font-size: 2em;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

h1, h3, p, label {
  font-family: Arial;
}

.half-hr {
  margin-left: 23%;
  width: 50%;
}

input[type=checkbox] {
  transform: scale(2.0);
}

.btn-dropin {
  background-color: #ccbc2c;
  width: 200px;
  height: 35px;
  border-radius: 12px;
}

.btn-dropin:hover {
  background-color: #949633;
}

.btn-theme {
  background-color: #ea8912;
  width: 160px;
  height: 40px;
  border-radius: 12px;
}

.btn-theme:hover {
  background-color: #ea5815;
}

.btn-red {
  background-color: #aa2929;
  border: 1px solid white;
  color: white;
  width: 300px;
  height: 30px;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-decoration: none;
  font-size: 1em;
  display: inline-block;
}

.btn:hover {
  color: black;
}

.btn-red:hover {
  background-color: #a05f59;
  text-decoration: none;
}

.top-pad {
padding-top: 13px;
}

.top-marg {
  margin-top: 30px;
}

.bottom-marg {
  margin-bottom: 50px;
}

.nav-btn {
  text-decoration: none;
  color: #aa2929;
}

.nav-btn:hover {
  color: #a05f59;
  text-decoration: underline;
}

.failure {
  width: 40%;
  padding-top: 4px;
  padding-bottom: 30px;
  background-color: #c15349;
  border-radius: 6px;
  margin-left: 30%;
}

.close {
  float: right;
  margin-right: 6px;
  margin-top: -5px;
}

.right-space {
  margin-right: 12px;
}
