<h2 class="center">
  <span class="right-space"><%= link_to "Home", root_path, class: "nav-btn" %></span>
  <span><%= link_to "Merchant Accounts Index", submerchants_path, class: "nav-btn" %></span>
</h2>
<hr/>
