<h2 class="center">
  <span class="right-space"><%= link_to "Home", root_path, class: "nav-btn" %></span>
  <span class="right-space"><%= link_to "Merchant Accounts Index", submerchants_path, class: "nav-btn" %></span>
  <span class="float-right">This project is on <%= link_to image_tag("GitHub.png"), 'https://www.github.com/buzzamus/braintree-integration', class: "nav-btn" %></span>
</h2>
<hr/>
