<h2 class="center">
  <span class="right-space"><%= link_to "Home", root_path, class: "nav-btn" %></span>
  <span class="right-space"><%= link_to "Merchant Accounts Index", submerchants_path, class: "nav-btn" %></span>
  <span class="float-right"><%= link_to "View this project on GitHub", 'https://www.github.com/buzzamus/braintree-integration', class: "nav-btn" %></span>
</h2>
<hr/>
